.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.72);
  margin-top: 64px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.main {
  padding: 8px 12px;
  background-color: transparent;
  margin: 16px;
}

.table {
  width: 100%;
  border-spacing: 0;
}